on:
  schedule:
    - cron: 23 0 * * 5
  workflow_dispatch:

name: weekly-playerids

jobs:
  weekly-playerids:
    runs-on: ubuntu-20.04
    env:
      RSPM: https://packagemanager.rstudio.com/cran/__linux__/focal/latest
      GITHUB_PAT: ${{ secrets.GH_PAT }}

    steps:
      - name: Checkout public db repo
        uses: actions/checkout@v2
        with:
          path: public

      - name: Checkout private data repo
        uses: actions/checkout@v2
        with:
          path: private
          repository: dynastyprocess/db
          token: ${{ secrets.GH_PAT }}

      - name: Install R
        uses: r-lib/actions/setup-r@v2
        id: install-r
        
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          cache-version: 1
          working-directory: ./private
          extra-packages: ffverse/ffscrapr

      - name: Update source player ID databases
        working-directory: ./private
        run: |
          source("R/player_ids/update_mfl.R", chdir = TRUE)
          source("R/player_ids/update_sleeper.R", chdir = TRUE)
          source("R/player_ids/update_nflfastr_rosters.R", chdir = TRUE)
          source("R/pfr/scrape_pfrids.R", chdir = TRUE)
        shell: Rscript {0}

      - name: Build dp_playerids
        working-directory: ./private
        run: |
          source("R/player_ids/build_playerids.R", chdir = TRUE)
        shell: Rscript {0}

      - name: Save private data
        working-directory: ./private
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git pull
          git add data
          git commit -m "Automated Player ID pipeline scrape `date`" || echo "No changes to commit"
          git push origin main || echo "No changes to commit"

      - name: Save public data
        working-directory: ./public
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git pull
          git add files
          git commit -m "Automated Player ID pipeline `date`" || echo "No changes to commit"
          git push origin master || echo "No changes to commit"

      - name: Upload log results
        if: failure()
        uses: actions/upload-artifact@main
        with:
          name: scrape-logs
          path: ./private/scrape-log.txt
